body{
background:url(2ab2245ee8b50ae85a92cde944b7cf13.jpg);
background-size:1534px 1142px;
background-position:  left -44px top -166px;
}
.twit{
position:absolute;
width:24px;
height:24px;
left:1188px;
top:20px;
font-style:normal;
font-weight:normal;
font-size:24px;
line-height:23px;
}
.facebook{
position:absolute;
width:24px;
height:24px;
left:1232px;
top:20px;
font-style:normal;
font-weight:normal;
font-size:24px;
line-height:23px;
}
.instagram{
position:absolute;
width:24px;
height:24px;
left:1276px;
top:20px;
font-style:normal;
font-weight:normal;
font-size:24px;
line-height:23px;
}
.rectangle {
 position:absolute;
 width:380px;
 height:358px;
 left:530px;
 top:233px;
 background:#FFFFFF;
 border:1px solid rgba (0,0,0,0.12);
 box-sizing:border-box;
 box-shadow:0px 0px 25px rgba(0,0,0,0.2);
 border-radius:4px;
}
.verhtox{
position:absolute;
width:53.19px;
height:12.95px;
left:192.5px;
top:5px;
background:1F2041;
}

.rectangle-log{
position:absolute;
width:320px;
height:44px;
left:25px;
top:96px;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:4px;
}
.verh
{
position:relative;
width:1139x;
height:70px;
left:-55px;
top:-10px;
background:#FFFFFF;
box-shadow:0px 10px 20px(31,32,65,0.25);
}
.aboutus{
position:absolute;
font-family:Montserrat;
width:42px;
height:18px;
left:531px;
top:19px;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.job{
position:absolute;
width:72px;
height:18px;
left:687px;
top:19px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.novosti{
position:absolute;
width:62px;
height:18px;
left:779px;
top:19px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.agrees{
position:absolute;
width:92px;
height:18px;
left:861px;
top:19px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.services{
position:absolute;
width:50px;
height:18px;
left:593px;
top:19px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.but{
position:absolute;
width:87px;
height:34px;
left:997px;
top:18px;
border-radius:22px;
background:white;
border-color:#BC9CFF;
}
.enter
{
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
color:#BC9CFF;
}
.reg{
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#FFFFFF;

}
.butreg{
position:absolute;
width:196px;
height:34px;
left:1104px;
top:18px;
background: linear-gradient(180deg,#BC9CFF 0%,#8BA4F9 100%);
border-radius:22px;	
}

.rectangle-log::-webkit-input-placeholder{
position:absolute;	
width:100px;
height:20px;
left:11px;
top:12px;
font-family:Arial;
font-style:normal;
font-weight:normal;
font-size:15px;
line-weight:24px;
color:rgba(31,32,65,0.25);
}
.rectangle-pas{
position:absolute;
width:320px;
height:44px;
left:25px;
top:150px;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:4px;
}
.rectangle-pas::-webkit-input-placeholder{
position:absolute;	
width:100px;
height:20px;
left:11px;
top:12px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:15px;
color:rgba(31,32,65,0.25);
}

.rectangle-button{
position:absolute;
width:320px;
height:44px;
left:25px;
top:215px;
background: linear-gradient(180deg,#BC9CFF 0%,#8BA4F9 100%);
border-radius:22px;
}
.rect-nadp{
position:absolute;
width:340px;
height:30px;
left:25px;
top:25px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:24px;
line-height:29px;
color:#1F2041;
}
.rectangle-sozd{
position:relative;
width:116.98px;
height:44px;
left:291px;
top:-9px;
background:white;
border-radius:22px;
border-color:BC9CFF;
}
/*.rectangle-vopr{
position:relative;
width:193.78px;
height:18.4px;
left:31px;
top:43px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:94%;
line-height:1px;
color:#000000;
}*/
.rectangle-vopr{
position:absolute;
width:164px;
height:18px;
left:560px;
top:536px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:#000000;
align-items:center;
}
.vhodite
{
position:relative;
width:280px;
height:19px;
left:15px;
top:1px;
color:#FFFFFF;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
font-weight:700;
}

.make{	
position:relative;
left:-2px;
width:62px;
height:15px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-align:center;
text-transform:uppercase;
color:BC9CFF;
}

.navigation{
position:absolute;
width:83px;
height:15px;
left:440px;
top:81px;
font-family: Montserrat;
font-style:normal;
font-weight:700;
font-size:12px;
line-height:15px;
color:#1F2041;
text-transform:uppercase;
}
.we{
position:absolute;
width:42px;
height:15px;
left:640px;
top:81px;
font-family: Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#1F2041;
text-transform:uppercase;
}
.supservice{
position:absolute;
width:149px;
height:15px;
left:840px;
top:81px;
font-family: Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
color:#1F2041;
}
.writer{
position:absolute;
width:76px;
height:15px;
left:1040px;
top:81px;
font-family: Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
color:#1F2041;	
}
.abus{
position:absolute;
width:42px;
height:18px;
left:440px;
top:110px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.news{
position:absolute;
width:62px;
height:18px;
left:440px;
top:145px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.service{
position:absolute;
width:143px;
height:18px;
left:440px;
top:180px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.usl{
position:absolute;
width:50px;
height:18px;
left:440px;
top:215px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.abserv{
position:absolute;
width:77px;
height:18px;
left:640px;
top:110px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.nashcom{
position:absolute;
width:108px;
height:18px;
left:640px;
top:145px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.vac{
position:absolute;
width:77px;
height:18px;
left:640px;
top:180px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.inv{
position:absolute;
width:82px;
height:18px;
left:640px;
top:215px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.agree{
position:absolute;
width:92px;
height:18px;
left:840px;
top:110px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.communications{
position:absolute;
width:90px;
height:18px;
left:840px;
top:145px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.connection{
position:absolute;
width:96px;
height:18px;
left:840px;
top:180px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.5);
}
.get{
position:absolute;
width:260px;
height:48px;
left:1040px;
top:105px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.75);
}
.footemail{
position:absolute;
width:260px;
height:44px;
left:1040px;
top:181px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
box-radius:4px;
}
.footemail::-webkit-input-placeholder{
position:absolute;	
width:40px;
height:24px;
left:12px;
top:7px;
font-family: Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.25);
}
.arrow{
position:absolute;	
width:44px;
height:44px;
left:1248px;
top:190px;
font-family:Material Icons;
font-style:normal;
font-weight:normal;
font-size:24px;
line-height:24px;
text-align:center;
color:BC9CFF;
}
.butarrow{
position:relative;	
width:51.99px;
height:44.98px;
left:250.56px;
top:-12px;
font-family: Material Icons;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:FFFFFF;
}
.cpbar{
position:absolute;
width:1440px;
height:372px;
left:0px;
top:1127px;
background:#FFFFFF;
}
.cp{
position:relative;
width:372px;
height:18px;
left:140px;
top:7px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
color:rgba(31,32,65,0.75);
}
.accaunt{
position:absolute;
width:378.11px;
height:44.98px;
left:496.45px;
top:521.3px;
}
.registation{
width:1140px;
height:70px;
top:1127px;
left:0px;
top:0px;
}
.toxin{
position:absolute;
width:320px;
height:44px;
left:560px;
top:524px;
}
.form
{
position:relative;
width:1440px;
height:1197px;
}
.forma
{
position:relative;
width:1440px;
height:753px;
}
.voiti{
position:absolute;
width:380px;
height:358px;
left:530px;
top:242px;
}
.header{
position:absolute;
width:1440px;
height:70px;
left:0px;
right:0px;
background:#FFFFFF;
box-shadow:0px 10px 20px rgba(31,32,65,0.05);

}
header.top-menu{
position:absolute;
width:446px;
height:21px;
left:531px;
top:26px;

}
.top-menu h3{
color:rgba(31,32,65,0.5)
}
.top-menu h3.nus{
position:absolute;
width:42px;
height:18px;
left:531px;
top:18px;
font-size:14px;
line-height:17px;
}
.top-menu h3.uslugi{
position:absolute;
width:50px;
height:18px;
left:593px;
top:18px;
font-size:14px;
line-height:17px;
}
.top-menu h3.vacansii{
position:absolute;
width:72px;
height:18px;
left:687px;
top:18px;
font-size:14px;
line-height:17px;
}
.top-menu h3.novosti{
position:absolute;
width:62px;
height:18px;
left:779px;
top:18px;
font-size:14px;
line-height:17px;
}
.top-menu h3.soglasheniya{
position:absolute;
width:92px;
height:18px;
left:861px;
top:18px;
font-size:14px;
line-height:17px;
}
.sub{
position:absolute;
width:87px;
height:34px;
left:1490px;
top:55px;
border-radius:22px;
border-color:#BC9CFF;
background:white;
}
.sub h3.voiti{
position:absolute;
width:47px;
height:15px;
left:20px;
top:-5px;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
color:#BC9CFF;

}


.nadp{
position:absolute;
width:320px;
height:30px;
left:560px;
top:273px;
}
.email{
position:absolute;
width:320px;
height:44px;
left:560px;
top:337px;
}
.password{
position:absolute;
width:320px;
height:44px;
left:560px;
top:391px;
}
.submition{
position:absolute;
width:87px;
height:34px;
left:997px;
top:18px;
border-radius:22px;
border-color:#BC9CFF;
background:white;

}
.submition h3.voit{
position:absolute;
width:47px;
height:15px;
left:18px;
top:-3px;
font-size:12px;
line-height:15px;
color:#BC9CFF;	
}
.registr{
position:absolute;
width:196px;
height:34px;
left:1104px;
top:18px;
border-radius:22px;
border-color:#BC9CFF;
background:white;
}
.registr h3.rega{
position:absolute;
width:47px;
height:15px;
left:20px;
top:-3px;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-transform:uppercase;
color:#BC9CFF;
}
/*.subm{
position:absolute;
width:320px;
height:44px;
left:560px;
top:457px;
border-radius:22px;
border-color:#BC9CFF;
background:white;
background: linear-gradient(180deg,#BC9CFF 0%,#8BA4F9 100%);
border-radius:22px;
}
.subm h3.voit{
position:absolute;
width:280px;
height:15px;
left:20px;
top:1px;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-align:center;
text-transform:uppercase;
color:#FFFFFF;
}
.accaunt{
position:absolute;
width:164px;
height:18px;
left:560px;
top:527px;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
display:flex;
align-items:center;
color:#000000;
}
.sozdan{
position:absolute;
width:99px;
height:44x;
left:781px;
top:522px;
background:white;
border-radius:22px;
border-color:BC9CFF;
}
.sozdan h3.bsozd{
position:relative;
left:-2px;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
text-align:center;
color:BC9CFF;
}
.email::-webkit-input-placeholder{
position:relative;	
width:100px;
height:20px;
left:11px;
top:-1px;
font-style:normal;
font-weight:normal;
font-size:14px;
line-weight:24px;
color:rgba(31,32,65,0.25);
}
.password::-webkit-input-placeholder{
	

}*/
.section{
position:absolute;
width:380px;
height:358px;
left:530px;
top:233px;
background:#FFFFFF;
border:1px solid rgba(0,0,0,0.12);
box-sizing:border-box;
box-shadow:0px 0px 25px rgba(0,0,0,0.2);
border-radius:4px;
}

.vhodi{
position:absolute;
width:320px;
height:30px;
left:569px;
top:273px;
font-style:normal;
font-weight:bold;
font-size:24px;
line-height:29px;
color:#1F2041;
}
.frame{
position:absolute;
width:1440px;
height:753px;
left:0px;
top:0px;
}
.rectangle-sozd{
position:absolute;
width:99px;
height:44px;
left:240px;
top:285px;
border-radius:22px;	
}
.make{
position:relative;
width:164px;
height:18px;
left:-40px;
top:3px;

}
.rectangle-vopr{
position:absolute;
width:164px;
height:18px;
left:25px;
top:285px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:#000000;
display:flex;
align-items:center;
}
.rectangle-nadp
{
position:relative;	
width:320px;
height:30px;
left:29px;
top:27px;
font-style:normal;
font-weight:bold;
font-size:24px;
line-height:29px;
}
.intro{
position:absolute;
width:280px;
height:15px;
left:20px;
top:12px;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
}
.beforefoot{
position:absolute;
width:1440px;
height:372px;
left:0px;
top:754px;
background:#FFFFFF;
box-shadow:0px 1px 0px rgba(31,32,65,0.1);
}
.footer{
position:absolute;
width:1440px;
height:70px;
left:0px;
top:1127px;
background:#FFFFFF;
box-shadow:0px 10px 20px rgba(31,32,65,0.05);
}
.foottox{
position:absolute;
width:33.19px;
height:12.95px;
left:207px;
top:65px;
background:1F2041;
}
.rights{
position:absolute;
width:372px;
height:18px;
left:140px;
top:20px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:17px;
white-space:nowrap;
color:rgba(31,32,65,0.75);
}
.book{
position:absolute;
width:260px;
height:72px;
left:160px;
top:120px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.75);	
}
.bigrectangle{
position:absolute;
width:380px;
height:646px;
left:530px;
top:90px;
background:#FFFFFF;
border:1px solid rgba(0,0,0,0,0.12);
box-sizing:border-box;
box-shadow:0px 0px 25px rgba(0,0,0,0.2);
border-radius:4px;

}
.accauntreg{
position:absolute;
width:320px;
height:30px;
left:30px;
top:27px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:24px;
line-height:29px;
color:#1F2041;
}
.imya{
position:absolute;
width:320px;
height:44px;
left:30px;	
top:104px;
}
.surname{
position:absolute;
width:320px;
height:44px;
left:30px;	
top:162px;
}
.man{
position:absolute;
width:68px;
height:24px;
left:59px;	
top:200px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.75);
}
.woman{
position:absolute;
width:73px;
height:24px;
left:174px;	
top:200px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.5);
}
.birthday{
position:absolute;
width:118px;
height:15px;
left:30px;
top:240px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#1F2041;

}
.datebirthday{
position:absolute;
width:320px;
height:44px;
left:30px;
top:274px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:4px;
}
.datebirthday::-webkit-input-placeholder{
position:absolute;
width:88px;
height:24px;
left:12px;
top:10px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.25);	
}
.imya::-webkit-input-placeholder{
position:absolute;
width:32px;
height:18px;
left:12px;
top:10px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:rgba(31,32,65,0.25);	
}
.surname::-webkit-input-placeholder{
position:absolute;
width:69px;
height:18px;
left:12px;
top:10px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:rgba(31,32,65,0.25);	
}
.inpservice{
position:absolute;
width:211px;
height:15px;
left:30px;
top:324px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#1F2041;
}
.inpemail{
position:absolute;
width:320px;
height:44px;
left:30px;
top:359px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:4px;
}
.inpemail::-webkit-input-placeholder{
position:absolute;
width:40px;
height:18px;
left:12px;
top:10px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:rgba(31,32,65,0.25);	
}
.inppassw{
position:absolute;
width:320px;
height:44px;
left:30px;
top:414px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:4px;
}
.inppassw::-webkit-input-placeholder{
position:absolute;
width:55px;
height:18px;
left:12px;
top:10px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
color:rgba(31,32,65,0.25);	
}
.suggest{
position:absolute;
width:210px;
height:24px;
left:76px;
top:447px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:24px;
color:rgba(31,32,65,0.75);
}

.acreg{
position:absolute;
width:320px;
height:44px;
left:30px;
top:504px;
background: linear-gradient(180deg,#BC9CFF 0%,#8BA4F9 100%);
border-radius:22px;	
}
.accreg{
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#FFFFFF;

}
.acc-vopr{
position:absolute;
width:186px;
height:18px;
left:30px;
top:564px;
font-family:Montserrat;
font-style:normal;
font-weight:normal;
font-size:14px;
line-height:18px;
align-items:center;
text-align:center;
color:#000000;
}
.butenter{
position:absolute;
width:99px;
height:44px;
left:254px;
top:569px;
background:white;
border-color:#BC9CFF;
border-radius:22px;
}
.buttenter{
position:absolute;
left:24px;
top:14px;
font-family:Montserrat;
font-style:normal;
font-weight:bold;
font-size:12px;
line-height:15px;
color:#BC9CFF;
}
.manrectangle{
position:absolute;
width:20px;
height:20px;
left:30px;
top:220px;
background:#FFFFFF;
border:1px solid #BC9CFF;
box-sizing:border-box;
border-radius:10px;
}
.womanrectangle{
position:absolute;
width:20px;
height:20px;
left:147px;
top:220px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:10px;
}
.manrectangle1{
position:absolute;
width:12px;
height:12px;
left:34px;
top:224px;
background:linear-gradient(180deg,#BC9CFF 0%,#8BA4F9 100%);
border-radius:10px;
}
.specsuggestion{
position:absolute;
width:40px;
height:20px;
left:30px;
top:469px;
background:#FFFFFF;
border:1px solid rgba(31,32,65,0.25);
box-sizing:border-box;
border-radius:10px;
}
.suggcircle{
position:absolute;
width:12px;
height:12px;
left:34px;
top:473px;
background:rgba(31,32,65,0.25);
border-radius:10px;
}